<p id="notice"><%= notice %></p>


<h1><%= @patient.full_name%></h1>
    <h1><%= @patient.photo %></h1>

<h2 class="ui center aligned blue header">Patient Information</h2>
<table class="ui definition table user-info selectable">
<tr>
    <td>First Name:</td>
    <td><%= @patient.first_name %></td>
</tr>
<tr>
    <td>Last Name:</td>
    <td><%= @patient.last_name %></td>
</tr>
<tr>
    <td>Age:</td>
    <td><%= @patient.age %></td>
</tr>
<tr>
    <td>Email:</td>
    <td><%= @patient.email %></td>
</tr>
<tr>
    <td>Gender:</td>
    <td><%= @patient.gender %></td>
</tr>
<tr>
    <td>Phone:</td>
    <td><%= @patient.phoneNo %></td>
</tr>
<tr>
    <td>Address:</td>
    <td><%= @patient.address %></td>
</tr>
<tr>
    <td>Insurance:</td>
    <td><%= @patient.insurance %></td>
</tr>
</table>


    
<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to "Create New Remote Consultation", new_remoteconsultation_path(@current_patient)%>






    


