<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @patient.photo %>
</p>

<p>
  <strong>First name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @patient.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient.age %>
</p>

<p>
  <strong>Phoneno:</strong>
  <%= @patient.phoneNo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @patient.insurance %>
</p>

<%= @patient.first_name %>, <%= @patient.email %>

<% provide(:title,@patient.first_name ) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
  <%= gravatar_for @patient %>
  <%= @patient.first_name %>
      </h1>
    </section>
  </aside>
</div>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
