<p id="notice"><%= notice %></p>

<ul class="doctors">
    <% @doctors.each do |doctor| %>
      <li>
        <td>
        <div class="image">
            <%= link_to (image_tag doctor.image_url, :style => "height:100px"), doctor %>
        </div>
        </td>
        <br>
        <div class="name">
          <strong><%= doctor.first_name + " " + doctor.middle_name + " " + doctor.last_name %></strong>
        </div>
         <div class="speciality">
          <%= doctor.speciality%>
        </div>
         <div class="bio">
            <p><%= doctor.bio %></p>
        </div>
     </li>
    <% end %>
    
</ul>
