<div class="row">
  <div class="col-12 col-md-3">
  </div>

</div>

<div class="container">
  <div class="row">

    <div class="col-sm-4">
      <%= render partial: 'rooms' %>
    </div>

    <div class="col-sm-8 chat">
      <div class="chatbody">
        <table class="table">
          <tbody data-channel-subscribe="room" data-room-id="<%= @room.id %>">

            <% @room_messages.each do |message| %>
              <tr>
                <td colspan="1">
                  <%= image_tag message.from.try(:image_url) || '/images/no-image-icon-hi.png', class: :avatar %>
                </td>
                <td><%= message.message %></td>
                <td><%= message.created_at.strftime("%l:%M") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <%= form_with url: room_messages_path, scope: :room_message, id: :new_message do |form|%>
        <%= form.hidden_field :room_id, value: @room.id, remote: true %>
        <div class="row">
          <div class="col-xs-9">
            <%= form.text_field :message, placeholder: "Type message", class: "form-control" %>
          </div>
          <div class="col-xs-3">
            <%= form.submit :Send, class: "btn btn-info btn-block" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<table class="d-none" data-role="message-template">
  <tbody>
    <div >
      <div class="chat-message-container">
        <tr>
          <td>
            <img class="avatar" src="/images/no-image-icon-hi.png" alt="No avatar" data-role="user-avatar">
          </td>
          <td data-role="message-text"></td>
          <td data-role="message-date"></td>
        </tr>
      </div>
    </div>
  </tbody>
</table>
