<p id="notice"><%= notice %></p>

  <% if current_patient %>
    <%= link_to "Book Appointment",new_patient_appointment_path(current_patient.id), class: "btn btn-lg btn-primary" %>
    <%= link_to "Create New Remote Consultation", new_remoteconsultation_path(current_patient.id), class: "btn btn-lg btn-primary" %>
  <% end %>

<h1>Appointments</h1>


<div class="row">
<div class="column">
<table class="appt table">
  <thead>
    <tr>
      <th>Appointment Date</th>
      <th>Appointment Time</th>
      <th>Patient</th>
      <th>Doctor</th>
    </tr>gem 'devise'
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.appointmentdate.strftime('%a, %b %d, %Y') %></td>
        <td><%= appointment.appointmenttime.strftime("%l:%M %p") %></td>
        <td><%= appointment.patient.full_name %></td>
        <td><%= appointment.doctor.full_name %></td>
      </tr>
    <% end %>
  </tbody>


</table>
</div>

<div class="column">chst 4 here </div>

</div>



