<p id="notice"><%= notice %></p>

<h1>Appointments</h1>

<table class="appt table">
  <thead>
    <tr>
      <th>Appointment Date</th>
      <th>Appointment Time</th>
      <th>Patient</th>
      <th>Doctor</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.appointmentdate.strftime('%a, %b %d, %Y') %></td>
        <td><%= appointment.appointmenttime.strftime("%l:%M %p") %></td>
        <td><%= appointment.patient.full_name %></td>
        <td><%= appointment.doctor.full_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>




